{% extends "base.html" %}
{% load static %}

{% block title %}
  ADHD Support
{% endblock %}

{% block content %}

  <div style="display: flex;">
    <div style="flex: 1;">
        <img src="{% static 'images/adhd.jpg' %}" alt="ADHD and Neurodiversity" style="margin-left: 110px; margin-top: 20px; max-width: 95%; height: auto;">
    </div>
    <div style="flex: 2; margin-left: 135px; margin-right: 40px;">
      <h4><span>AD/HD Support for adults</span></h4>
      <p class="base-margin">
        In his book, (italic)"Scattered Minds", Dr Gabor Mate, who himself has a diagnosis of AD/HD, uses a metaphor to describe the differences in the way neurodiverse people experience how their brains function, compared to neurotypicals. Imagine all the streams of thoughts in your brain as lanes in a busy traffic intersection. For neurotypicals, there is a vigilant traffic cop, directing and ordering the traffic to avoid chaos and conjestion. In the case of the those with AD/HD, that traffic cop is fast asleep. This is a frenetic and exhausting image of the common lived experience of those with AD/HD, and why getting the right support and coping strategies is imperative for well-being.
      </p>

      <h5 class="experience">
        <i class="bi bi-bookmark-star-fill"></i>
        Some of the common areas of concern for adults with ADHD include:
      </h5>
      <p class="base-margin"></p>
      <ul class="list-blurb">
        <li>
          Feelings of overwhelm, irritability, anxiety, and depression
        <li>
          Sense of failure and low self-esteem
        </li>
        <li>
          Difficulties with motivation
        </li>
        <li>
          Continuously starting new tasks before finishing old ones
        </li>
        <li>
          Procrastination
        </li>
        <li>
          Inability to focus or prioritise
        </li>
        <li>
          Rejection sensitivity
        </li>
        <li>
          Time-blindness
        </li>
        <li>
          Forgetfulness
        </li>
        <li>
          Experiencing emotions intensely
        </li>
        <li>
          Difficulty regulating emotions
        </li>
        <li>
          Relationship / Social anxieties and challenges
        </li>
        <li>
          Impulsivity
        </li>
        <li>
          Finding planning and organizing stressful and overwhelming
        </li>
        <li>
          Often feeling misunderstood and unsupoorted
        </li>
      </ul>
    </div>
  </div>

{% endblock content %}