{% extends "base.html" %}
{% load static %}

{% block title %}
  Psychotherapy
{% endblock title %}

{% block content %}

  <div style="display: flex;">
    <div style="flex: 1;">
        <img src="{% static 'images/psyc.jpg' %}" alt="Psychotherapy" style="margin-left: 110px; margin-top: 20px; max-width: 100%; height: auto;">
    </div>
    <div style="flex: 2; margin-left: 150px; margin-right: 60px;">
      <h4><span>Individual Therapy</span></h4>
      <p class="base-margin">
        The process of psychotherapy is designed to address a broad range of challenges individuals may face. The aim of psychotherapy is to explore and bring self-awareness to the thoughts, feelings, behaviours and relational patterns that hinder psychological well-being, in order to move towards personal growth and healing. Individual psychotherapy aims to tailor the therapy process to meet the unique needs of each client and bring therapeutic change.
      </p>
      <p class="large-margin"></p>

      <h5 class="experience">
        <i class="bi bi-bookmark-star-fill"></i>
        I have experience and special interest in the following areas:
      </h5>

      <ul class="list-blurb">
        <li>
          General forms of anxiety (including feelings of being overwhelmed and/or unable to cope, excessive worrying and difficulty controlling worry, anticipatory anxiety, panic attacks, feeling "out of control", sleep difficulties)
        </li>
        <li>
          Specific fears (health-related anxiety, fears of death and dying, social anxiety)
        </li>
        <li>
          Obsessive and/or compulsive thoughts and/or behaviours
        </li>
      </ul>
      <p class="base-margin"></p>

      <h3><span>Depression</span></h3>
      <ul class="list-blurb">
        <li>
          Feelings of overwhelming sadness, hopelessness, guilt, emptiness, worthlessness and/or increased irritability
        </li>
        <li>
          Feeling unable to cope and more easily overwhelmed
        </li>
        <li>
          Thoughts of death, suicide or self-harm
        </li>
        <li>
          Physical symptoms unaccounted for by medical condition (including lack of energy, increase in fatigue, sleep difficulties, increased bodily pains and headaches, weight changes)
        </li>
        <li>
          Difficulty with concentration, decision-making and memory
        </li>
        <li>
          Related to specific experiences of grief, loss and/or trauma
        </li>
      </ul>
      <p class="base-margin"></p>

      <h3><span>Relationship Difficulties</span></h3>
      <ul class="list-blurb">
        <li>
          Patterns of engaging in unhealthy and/or destructive relationships
        </li>
        <li>
          Difficulties associated with emotional closeness, intimacy, vulnerability and commitment
        </li>
        <li>
          Challenges related to setting healthy boundaries and expressing personal needs in relationships:
        </li>
        <ul>
          <li>
            related to mistrust of others and fears of rejection
          </li>
          <li>
            relating to over-dependence in relationships and fears of being alone
          </li>
          <li>
            preparation and/or processing of loss of significant relationship
          </li>
        </ul>
      </ul>
      <p class="base-margin"></p>

      <h3 class="page-h3"><span>Personal Growth</span></h3>
      <ul class="list-blurb">
        <li>
          Exploring challenges related to low self-esteem and personal insecurities
        </li>
        <li>
          Preparation and processing of transitions and adjustments related to new life phases
        </li>
        <li>
          Strengthening skills of self-exploration, self-reflection, mindfulness, assertiveness and mentalization
        </li>
      </ul>
      <p class="base-margin"></p>

    </div>
  </div>

{% endblock content %}