{% extends "base.html" %}
{% load static %}

{% block title %}
  ADHD Support
{% endblock %}

{% block content %}

  <div style="display: flex;">
    <div style="flex: 1;">
        <img src="{% static 'images/resources.jpg' %}" alt="Resources" style="margin-left: 110px; margin-top: 20px; max-width: 100%; height: auto;">
    </div>
    <div style="flex: 2; margin-left: 150px; margin-right: 40px;">
      <h4><span>Resources</span></h4>
      <h5 class="experience">
        <i class="bi bi-bookmark-star-fill"></i>
        Resources List
      </h5>

      {% comment %} Stress and Anxiety {% endcomment %}
      <p class="base-margin">
        <ul class="list-blurb">
          <h5><strong>Stress and Anxiety:</strong></h5>

          <li>
            <strong>Apps:</strong>
            <ul>
              <li>
                Headspace
              </li>
              <li>
                Insight Timer (guided meditations, podcasts and talks)
              </li>
              <li>
                Calm (insomnia)
              </li>
              <li>
                Woebot (AI generated support chat)
              </li>
            </ul>
          </li>
          <br>
          <li>
            <strong>Yoga:</strong>
            <ul>
              <li>
                <a href="https://drarielleschwartz.com/yoga-for-anxiety-dr-arielle-schwartz/">Yoga for anxiety: Dr Arielle
                  Swartz</a>
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=2hOpboizq1k&ab_channel=SarahBethYoga">Sarah Beth Yoga</a>
              </li>
            </ul>
          </li>
          <br>
          <li>
            <strong>Books:</strong>
            <ul>
              <li>
                The Healing Power of Breath - Dr Patrica Gerbarg and Dr Brown
              </li>
            </ul>
          </li>
        </ul>
        <br>
      </p>

      {% comment %} Depression {% endcomment %}
      <p class="base-margin">
        <ul class="list-blurb">
          <h5><strong>Depression:</strong></h5>

          <li>
            <strong>Videos:</strong>
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=XiCrniLQGYc&ab_channel=WorldHealthOrganization%28WHO%29">Short Story video: I had a Black dog, his name was Depression</a>
              </li>
              <br>
            </ul>
          </li>
          <li>
            <strong>Books:</strong>
              <ul>
                <li>
                  <a href="https://www.amazon.com/Hardwiring-Happiness-Science-Contentment-Confidence-ebook/dp/B00CCPIIZK?_encoding=UTF8&qid=1644264967&sr=8-2&linkCode=sl1&tag=stucosuccess-20&linkId=02c4abb4c79197a5f8a6267a78430d32&language=en_US&ref_=as_li_ss_tl">Rick Hanson's Hardwiring Happiness</a>
                </li>
              </ul>
            <br>
          </li>
          <li>
            <strong>Yoga:</strong>
              <ul>
                <li>
                  <a href="https://www.youtube.com/watch?v=2hOpboizq1k&ab_channel=SarahBethYoga">Sarah Beth Yoga</a>
                </li>
              </ul>
          </li>
        </ul>
      </p>
      <br>

      {% comment %} Mood Tracker Apps {% endcomment %}
      <p class="base-margin">
        <ul class="list-blurb">
          <h5><strong>Mood Tracker Apps:</strong></h5>

          <li>
            <strong>Apps:</strong>
            <ul>
              <li>
                Woebot (AI generated CBT and DBT based support chat)
              </li>
              <li>
                Dalio (mood tracker and diary)
              </li>
              <br>
            </ul>
          </li>
          <li>
            <strong>Books:</strong>
              <ul>
                <li>
                  The Mind-Gut Connection by Emeran Meyer
                </li>
              </ul>
              <br>
          </li>
        </ul>
      </p>

      {% comment %} Music {% endcomment %}
      <p class="base-margin">
        <ul class="list-blurb">
          <h5><strong>Music for Anxiety, Depression and Brain Health:</strong></h5>

          <ul>
            <li>
              <a href="https://www.youtube.com/playlist?list=OLAK5uy_m3wGR8kJW6x0DiyNrOjmDWKkpnfegpyaY">Yuval Ron: 40hertz Binural Beats (requires headphones)</a>
            </li>
          </ul>
        </ul>
      </p>
      <br>

      {% comment %} ADHD {% endcomment %}
      <p class="base-margin">
        <ul class="list-blurb">
          <h5><strong>Attention deficit/hyperactivity disorder:</strong></h5>
          <p>(ADHD)</p>

          <li>
            <strong>Online resource:</strong>
            <ul>
              <li>
                <a href="https://www.additudemag.com/">One-stop online resource</a>
              </li>
              <li>
                Instagram: @adhd_love_
              </li>
              <br>
            </ul>
          </li>
          <li>
            <strong>Articles:</strong>
              <ul>
                <li>
                  <a href="https://www.additudemag.com/adhd-motivation-problems-getting-started-on-tough-projects/?utm_source=eletter&utm_medium=email&utm_campaign=best_may_2023&utm_content=050523&goal=0_d9446392d6-850b327f6d-320562222">AD/HD and motivation</a>
                </li>
                <li>
                  <a href="https://chadd.org/attention-article/why-adhd-is-more-challenging-for-women/">1. Girls/Women with AD/HD</a>
                </li>
                <li>
                  <a href="https://www.healthline.com/health/adhd/adhd-and-hormonal-changes-in-women#takeaway">2. Girls/Women with AD/HD</a>
                </li>
              </ul>
              <br>
          </li>
          <li>
            <strong>Books:</strong>
              <ul>
                <li>
                  Scattered Minds - Gabor Mate
                </li>
              </ul>
              <br>
          </li>
        </ul>
      </p>

      {% comment %} Autism {% endcomment %}
      <p class="base-margin">
        <ul class="list-blurb">
          <h5><strong>Autism Spectrum Disorder:</strong></h5>

          <li>
            <strong>YouTube:</strong>
            <ul>
              <li>
                <a href="https://www.youtube.com/@YoSamdySam">Link 1</a>
              </li>
              <li>
                <a href="https://www.youtube.com/@autismfromtheInside">Link 2</a>
              </li>
              <br>
            </ul>
          </li>
          <li>
            <strong>Websites:</strong>
              <ul>
                <li>
                  <a href="https://autisticadvocacy.org/resources/books/">Website link</a>
                </li>
              </ul>
              <br>
          </li>
          <li>
            <strong>Books:</strong>
              <ul>
                <li>
                  Devon Price - Unmasking Autism
                </li>
                <li>
                  Luke Beardon's - Avoiding Anxiety in Autistic Adults
                </li>
                <li>
                  Vishen Lakhiani - Code of the Extraordinary Mind
                </li>
              </ul>
              <br>
          </li>
        </ul>
      </p>

      {% comment %} ASD specific {% endcomment %}
      <p class="base-margin">
        <ul class="list-blurb">
          <h5><strong>Specific to atypical ASD presentation:</strong></h5>

          <li>
            <strong>YouTube:</strong>
            <ul>
              <li>
                <a href="https://www.youtube.com/watch?v=9ZnTzMeqHhY&ab_channel=AssociationforAutismandNeurodiversity-AANE">Girls and Autism: What's the Difference with Sarah Hendrickx </a>
              </li>
              <li>
                <a href="https://www.youtube.com/watch?v=17AEPbARr90">Autistic Girls: Mini Documentary</a>
              </li>
              <br>
            </ul>
          </li>
          <li>
            <strong>Biographies:</strong>
              <ul>
                <li>
                  Ten Steps To Nannette by Hanna Gadsby
                </li>
                <li>
                  Strong Female Character by Fern Brady
                </li>
              </ul>
              <br>
          </li>
          <br>
          </li>
        </ul>
      </p>

      {% comment %} Mindfulness {% endcomment %}
      <p class="base-margin">
        <ul class="list-blurb">
          <h5><strong>General Mindfulness and Meditation:</strong></h5>

          <li>
            <strong>App:</strong>
            <ul>
              <li>
                Insight Timer
              </li>
              <br>
            </ul>
          </li>
          <li>
            <strong>Meditation:</strong>
              <ul>
                <li>
                  <a href="https://stillmindretreats.com/adult-guided-meditations/">Sue Cooper Mediations: Open the heart, Still the mind</a>
                </li>
                <li>
                  <a href="https://self-compassion.org/self-compassion-practices/#guided-practices">Kristen Neff: Guided meditations for self-compassion</a>
                </li>
              </ul>
            <br>
          </li>
        </ul>
      </p>

    </div>
  </div>

{% endblock content %}
