{% extends "base.html" %}
{% load static %}

{% block title %}
  ADHD Support
{% endblock %}

{% block content %}

  <div style="display: flex;">
    <div style="flex: 1;">
        <img src="{% static 'images/resources.jpg' %}" alt="Resources" style="margin-left: 110px; margin-top: 20px; max-width: 100%; height: auto;">
    </div>
    <div style="flex: 2; margin-left: 150px; margin-right: 40px;">
      <h4><span>Resources</span></h4>
      <p class="base-margin">
        Quote
      </p>

      <h5 class="experience">
        <i class="bi bi-bookmark-star-fill"></i>
        Resources List
      </h5>
      <p class="base-margin"></p>
      <ul class="list-blurb">
        <li>
          Book
        <li>
          Book
        </li>
        <li>
          Video
        </li>
        <li>
          Meditation
        </li>
        <li>
          Website
        </li>
        <li>
          Book
        </li>
        <li>
          Contact details
        </li>
        <li>
          Group
        </li>
        <li>
          DivergentDnD ?
        </li>
        <li>
          Book
        </li>
        <li>
          Article
        </li>
        <li>
          ChatGPT Promt
        </li>
        <li>
          App
        </li>
        <li>
          Organisation
        </li>
        <li>
          But wait...there's more!
        </li>
      </ul>
    </div>
  </div>

{% endblock content %}