{% extends "base.html" %}
{% load static %}

{% block title %}
  What to expect
{% endblock %}

{% block content %}

  <div style="display: flex;">
    <div style="flex: 1;">
        <img src="{% static 'images/whattoexpect.jpg' %}" alt="What to expect" style="margin-left: 110px; margin-top: 20px; max-width: 100%; height: auto;">
    </div>
    <div style="flex: 2; margin-left: 135px; margin-right: 30px;">
      <h4><span>What to expect</span></h4>
      <p class="base-margin"></p>

      <p class="base-margin">
        For many people, psychotherapy is an unfamiliar concept. Therefore, deciding to come for therapy can feel like much like venturing into the unknown and can stir up feelings of anxiety. Having a clear understanding of our process together from the start can help to manage expectations and these anxiety levels.
      </p>

      <h4><span>Practical Information</span></h4>
      <p class="base-margin">
        Therapy sessions are 50 minutes long and ideally happen once a week, in order to create the momentum required for optimal support and therapeutic change. The practice does not claim directly from medical aid. However, once payment has been made to the practice, you can submit your invoice and receipt to your medical aid's claims department. The practice accepts cash and also has card facilities.
      </p>

      <h4><span>The Therapy Journey</span></h4>
      <p class="base-margin">
        One of my favourite descriptions of the therapy process comes from Irvine D. Yalom. He wrote of the therapist and client, “they moved into honesty with the revelation that they were fellow travellers, both simply human” (Yalom, 2002, p.10). I understand therapy as a journey that we will take together. However, it is important to acknowledge that each person has their own way of travelling. Firstly, you as the client, will be bringing your goals for the journey as well as your expectations and preferences for the way in which you would like to explore these. I, as the therapist, bring my knowledge of psychological processes, as well as my mode of working with/travelling with a client. Because therapy is a very personal process, it is important that we are able to travel well together. Therefore, since collaboration is an essential element to the therapeutic process, the therapy process has two phases; the first is an assessment phase and the second is the therapy phase.
      </p>

      <h4><span>The Assessment Phase</span></h4>
      <p class="base-margin">
        This will take place during your first (and sometimes second) session. This creates an opportunity to discuss your goals and expectations, as well as discussing how we might work towards these together. This is also an opportunity to explore how well we can expect to travel together (ie. to what degree we are a good “fit” as client and therapist). It will also help to give an indication of whether you can expect a short or longer term therapy process.
      </p>

      <h4><span>The Therapy Phase</span></h4>

      <p class="base-margin">
        Often the decision to come to therapy is triggered by a specific crisis. Therapy can provide a supportive and safe environment during this time, when you may feel you are in “survival” mode. However, other times, the crisis has passed or there is no immediate crisis. Here, there may be a need for reflection and desire to move towards personal growth. This creates an opportunity to explore patterns that may hinder areas of psychological health and well-being. It is important to acknowledge that whilst therapy must take place in a supportive, safe and containing space, often addressing these patterns can be uncomfortable, but necessary for healing and growth.
      </p>
      <br></br>

    </div>
  </div>

{% endblock content %}